.carrito {
  max-width: 50rem;
  margin:1.875rem auto;
}
.tituloCarrito {
  text-align: center;
  color: rgb(88, 88, 88);
  margin-bottom: 1rem;
}
.linkCompras {
  font-size: 1.875rem;
  color: chocolate;
  margin: auto;
  display: flex;
  justify-content: center;
}
.sinCompras {
  color: black;
  text-align: center;
  margin-top: 2.5rem;
}
.column {
  text-align: center;
}