.contenedor-compras {
  max-width: 76.25rem;
  margin: auto;
}
.tituloProductos {
  text-align: center;
  margin: 1.25rem;
  color: green;
}
.contenedor-productos {
  max-width: 76.25rem;

  display: grid;
  grid-template-columns: auto 1fr auto 1fr;
  grid-template-rows: auto 1fr auto auto;
}
@media screen and (max-width: 76.25rem) {
  .contenedor-productos {
    max-width: 38.75rem;
    margin: auto;
    grid-template-columns: 1fr;
  }
}